/* 
======================
Fonts
======================
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* 
=====================
Variables
=====================
*/

:root {
    /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* or dark shades of primary color*/
  --clr-primary-11: hsl(21, 91%, 17%);
  --clr-primary-12: hsl(21, 84%, 25%);
  --clr-primary-13: hsl(21, 81%, 29%);
  --clr-primary-14: hsl(21, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
    /* or primary/main color */
  --clr-primary-15: hsl(21, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* or lighter shades of primary color */
  --clr-primary-16: hsl(21, 57%, 50%);
  --clr-primary-17: hsl(21, 65%, 59%);
  --clr-primary-18: hsl(21, 80%, 74%);
  --clr-primary-19: hsl(21, 94%, 87%);
  --clr-primary-20: hsl(21, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
   /* or darkest grey - used for headings */
 --clr-grey-11: #102a42;
 --clr-grey-12: hsl(211, 39%, 23%);
 --clr-grey-13: hsl(209, 34%, 30%);
 --clr-grey-14: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1200px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
p {
    margin-top: 1.25rem;
    color: var(--clr-grey-5);
}
@media screen and (min-width:800px) {
    body {
        font-size: 1rem;
        width: 100%;
    }
}

/* global classes */

/* section */
.section {
    padding-bottom: 5rem;
}

/* 
===================
Navbar
==================
*/

/* first nav */
.nav-header {
    background-color: var(--clr-grey-1);
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.nav-toggle {
    color: var(--clr-white);
    font-size: 2rem;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    margin: 1rem;
    
}
.nav-toggle:hover {
    color: var(--clr-grey-6);
}
.nav-links {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.nav-header .nav-links {
    display: none;
}
/* end first nav */

/* second nav */
img {
    width: 100%;
    display: block;
  }
.navbar-header .nav-links {
    display: none;
}

.navbar-header .logo {
    display: none;
}

@media screen and (min-width : 800px){
    /* first nav */
    .nav-header {
        height: 3.75rem;
    }
    .nav-toggle {
        display: none;
    }
    .nav-header .logo {
        display: none;
    }
    .nav-header .nav-links {
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
    .nav-header .nav-links a {
        color: var(--clr-white);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.75rem;
        justify-content: space-between;
        text-align: justify;
        margin: 2.885rem;
        padding-bottom: 0.5rem;
    }
    .nav-header .link {
        border: 0.5px solid var(--clr-primary-3);
        border-bottom-color: transparent;
        border-top-color: transparent;
        text-align: center;
        justify-content: space-between;
        padding-top: 0.75rem;
    }
    .nav-header .link:hover {
        background-color: var(--clr-primary-3);
      
        
    }
    #historical, #friends {
        border-left-color: transparent;
    }
    #social {
        margin-right: 3.49rem;      
    }
   
    #search i{
        display: inline-flex;
        text-align: center;
        justify-content: space-between;
    }
    
    #search,
    #procedures,
    #friends {
        background-color: var(--clr-primary-3);
        border: 0.5px solid var(--clr-primary-5);
        border-bottom-color: transparent;
        border-top-color: transparent;
    }
    #search:hover,
    #procedures:hover,
    #friends:hover {
        background-color: var(--clr-primary-5);
    }

    .deroulant a::after {
        content:" ▼";
      }

      /* end first nav */
      /* second nav */
     
    .navbar-header .logo {
        height: 50px;
    }
    .navbar-header {
        height: 4rem;
        background-color: var(--clr-white);
        padding-top: 0.09rem;
    }
    .navbar-header .nav-links {
        display: flex;
        justify-content: center;
        text-align: center; 
        height: 4rem;
        border-bottom: 0.05rem solid #999;
    }
    .navbar-header .nav-links a {
        color: var(--clr-black);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.75rem;
        justify-content: space-between;
        text-align: justify;
        margin: 2rem;
        padding-bottom: 0.5rem;
    }
    .navbar-header .link {
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-left-color: transparent;
        text-align: center;
        justify-content: space-between;
        padding-top: 1rem;
    }
    .navbar-header .link:hover{
        background-color: var(--clr-grey-1);
        color: var(--clr-white);
        text-decoration: underline;
    }
    .navbar-header .link a:hover{
        background-color: var(--clr-grey-1);
        color: var(--clr-white);
    }
  
}

/* 
======================
 CONTAINER
=====================
*/
.container {
    margin: 0 2rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}
.logo {
    display: none;
}
aside img,
    article img {
        background: var(--clr-white);
        object-fit: cover;
        border: 10px solid var(--clr-white);
        padding-top: 1rem;
      }
    aside img:hover,
    article img:hover {
        filter: opacity(50%);
        -webkit-filte : opacity(50%);
    }
    aside a,
    article a {
        text-transform: uppercase;
        font-weight: bold;
        color: var(--clr-primary-3);
        font-size: 0.75rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    aside a:hover,
    article a:hover {
        text-decoration: underline;
    }
    .date {
        text-transform: capitalize;
        color: var(--clr-primary-3);
        font-weight: bold;
    }
    .text {
        color: var(--clr-black);
        padding-bottom: 1rem;
    }

@media screen and (min-width : 800px) {
    .container {
        margin: 0 5rem;
        margin-bottom: 2rem;
    }
    .container {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        grid-gap: 25px;
    }
    .article-link {
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: bold;
        color: var(--clr-primary-1);
    }
    aside {
        padding: 1px;
    }
    aside img,
    article img {
        background: var(--clr-white);
        object-fit: cover;
        border: 10px solid var(--clr-white);
      }
    aside img:hover,
    article img:hover {
        filter: opacity(50%);
        -webkit-filter: opacity(50%);
      }
      
    article {
        padding: 1px;
    }
    #covid {
        border-right-color: transparent;
    }
}


/* 
========================    
        FOOTER
========================
*/

footer {
    background-color: var(--clr-grey-1);
    height: 54rem;
}
/*
=======================
Footer links 
=======================
*/

.footer-link {
    height: 12rem;
    background: var(--clr-primary-3);
    
}
.footer-link .foot-links a{
    color: var(--clr-white);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85rem;
    
}
.foot-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.foot-links .link {
    height: 3rem;
    text-align: center;
    border: 0.011rem solid var(--clr-primary-4);
    padding-top: 0.75rem;
}
.foot-links .link:hover {
    background-color: var(--clr-primary-4);
}

@media screen  and (min-width : 800px) {
    /* Footer links */
    .footer-link {
        text-transform: uppercase;
        font-weight: bold;
        height: 3.5rem;
        background: var(--clr-primary-3);
        
    }
    .footer-link .foot-links a{
        color: var(--clr-white);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.85rem;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 0.5rem;
        padding: 2rem;
        
    }
    
    .foot-links{
        display: flex;
        font-size: 0.85rem;
        justify-content: center;
        text-align: center;
        height: 3.5rem;
    }
    .footer-link .link {
        border-color: transparent;
        height: 3.5rem;
        padding :0.75rem 0.327rem;
    }
    .footer-link .link:hover {
        background: var(--clr-primary-5);
    }
    /* end footer links */
}
/* 
================
 footer center
===============
*/

.foot-center{
    display: inline-block;
    background-color: var(--clr-grey-1);
}
/* Contact */
.contact {
    display: flex;
    margin-top: 1rem;
    padding-left: 1rem;
}
.contact img {
    width: 100px;
    height: 100px;
    margin-top: 2rem;
    margin-left: 1rem;
    padding-right: 0.75rem;  
    border-radius: 10px;
}
.address {
    text-transform: capitalize;
    color: var(--clr-white);
    font-weight: bold;
}
.phone a {
    color: var(--clr-white);
    font-weight: bold;
}
.phone a:hover {
    text-decoration: underline;
}
.phone strong {
    text-transform: uppercase;
    color: var(--clr-grey-7);
}
/* end contact */

/* support */
.support {
    display: flexbox;
    margin-top: 1rem;
    padding-left: 2rem;
}
#support {
    text-transform: uppercase;
    color: var(--clr-white);
    font-weight: bold;
    text-align: left;
    border-top: 1px solid var(--clr-grey-13) ;
    padding-top: 1rem;
}
.support p {
    color: var(--clr-grey-7);
    font-weight: bold;
    font-style: italic;
    margin-bottom: 1rem;
}
.help-btn {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--clr-white);
    width: 150px;
    height: 50px;
    background-color: var(--clr-grey-1);
    background: transparent;
    justify-content: space-between;
}
.help-btn {
    margin-top: 0.5rem;
    cursor: pointer;
    border: 1px solid;
    border-color: var(--clr-white);
}
.help-btn:hover {
    background-color: rgb(245, 201, 91) ;
    color: var(--clr-grey-1);
    font-weight: bold;
    border-color: transparent;
}
/* end support */
/* connect */
.connect {
    display: flexbox;
    margin-top: 1rem;
    padding: 0 2rem;

}
#connect {
    text-transform: uppercase;
    color: var(--clr-white);
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
    border-top: 1px solid var(--clr-grey-13) ;
    padding-top: 1rem;
}
.signup-btn {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--clr-white);
    width: 180px;
    height: 50px;
    background-color: var(--clr-grey-1);
    background: transparent;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.signup-btn {
    margin-top: 0.5rem;
    cursor: pointer;
    border: 1px solid;
    border-color: var(--clr-white);
}
.signup-btn:hover {
    background-color: rgb(245, 201, 91) ;
    color: var(--clr-grey-1);
    font-weight: bold;
    border-color: transparent;
}
.social-icons {
    display: flex;
}
.social-icons i {
    margin-left: 2rem;
}

@media screen and (min-width : 800px) {
    
    footer {
        background-color: var(--clr-grey-1);
        height: 29rem;
    }
    

    /* Footer center */
    
    .foot-center {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 1rem 3rem;
        margin-bottom: 3rem;
        border-bottom: transparent;
       
    }
    /* Contact */
    .contact {
        display: flex;
        
    }
    .contact img {
        width: 150px;
        height: 150px;
        margin-left: 1rem;
        border-radius: 10px;
    }
    .address {
        text-transform: capitalize;
        color: var(--clr-white);
        font-weight: bold;
    }
    .phone a {
        color: var(--clr-white);
        font-weight: bold;
    }
    .phone a:hover {
        text-decoration: underline;
    }
    .phone strong {
        text-transform: uppercase;
        color: var(--clr-grey-7);
    }
    /* end contact */

    /* support */
    .support {
        display: flexbox;
        border-right: 0.05px solid var(--clr-grey-13);
        border-left: 0.05px solid var(--clr-grey-13);
        padding-left: 2rem;
        padding-right: 1rem;
    }
    #support {
        text-transform: uppercase;
        color: var(--clr-white);
        font-weight: bold;
        text-align: left;
        border-top: transparent;
    }
    .support p {
        color: var(--clr-grey-7);
        font-weight: bold;
        font-style: italic;
        margin-bottom: 1rem;
    }
    .help-btn {
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--clr-white);
        width: 150px;
        height: 50px;
        background-color: var(--clr-grey-1);
        background: transparent;
        justify-content: space-between;
    }
    .help-btn {
        margin-top: 0.5rem;
        cursor: pointer;
        border: 1px solid;
        border-color: var(--clr-white);
    }
    .help-btn:hover {
        background-color: rgb(245, 201, 91) ;
        color: var(--clr-grey-1);
        font-weight: bold;
        border-color: transparent;
    }
    /* end support */
    /* connect */
    .connect {
        display: flexbox;
        padding-left: 2rem;
        padding-right: 1rem;
    }
    #connect {
        text-transform: uppercase;
        color: var(--clr-white);
        font-weight: bold;
        text-align: left;
        margin-bottom: 1rem;
        border-top: transparent;
    }
    .signup-btn {
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--clr-white);
        width: 180px;
        height: 50px;
        background-color: var(--clr-grey-1);
        background: transparent;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .signup-btn {
        margin-top: 0.5rem;
        cursor: pointer;
        border: 1px solid;
        border-color: var(--clr-white);
    }
    .signup-btn:hover {
        background-color: rgb(245, 201, 91) ;
        color: var(--clr-grey-1);
        font-weight: bold;
        border-color: transparent;
    }
    .social-icons {
        display: flex;
    }
    .social-icons i {
        margin-left: 2rem;
    }

} 
 /* 
 =================
 Copyright
 =================
  */
.copyright {
    text-align: center;
    color: var(--clr-grey-7);
    font-weight: bold;
    font-style: italic;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    background-color: var(--clr-grey-1);
    text-transform: capitalize;
    
}
.copyright p {
    border-top: 1px solid var(--clr-grey-13) ;
    margin: 1rem 3rem;
    padding-top: 1.8rem;
}

@media screen and (min-width : 800px){
    .copyright {
        text-align: center;
        color: var(--clr-grey-7);
        font-weight: bold;
        font-style: italic;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        background-color: var(--clr-grey-1);
        text-transform: capitalize;
        
    }
    .copyright p {
        border-top: 1px solid var(--clr-grey-13) ;
        margin: 1rem 3rem;
        padding-top: 1rem;
    }
}